.mantle-spinner {
  display: inline-block;
  border-style: solid;
  border-radius: 9999px;
  animation: mantle-spinner-rotate 0.6s linear infinite;
}

@keyframes mantle-spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
