.mantle-colorArea {
  position: relative;
  border-radius: var(--mantle-radius-md);
  cursor: crosshair;
  touch-action: none;
  user-select: none;
}

.mantle-colorAreaGradient {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
}

.mantle-colorAreaGradientWhite {
  background: linear-gradient(to right, #fff, transparent);
}

.mantle-colorAreaGradientBlack {
  background: linear-gradient(to bottom, transparent, #000);
}

.mantle-colorAreaThumb {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3),
    inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
